{% extends 'base.html.twig' %}

{% block title %}Je me connecte || Anky{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('/css/login.css')}}">
{% endblock %}

{% block body %}

{% block body %}
<section class="absolute login">

<a href="{{path('welcome')}}" alt="Retourner à la page d'accueil de Anky">
    <i class="fas fa-chevron-left"></i>
</a>

<article>
        <img src="/img/logo-small.svg" title="Logo de Anky | Version medium">
        <h1>J'accède à<br>
        mon p'tit compte</h1>
</article>

<form method="post" class="form">

    <div>
        <label for="inputEmail">E-mail</label>
        <input type="email" name="email" id="inputEmail" class="input" required>
    </div>

    <div>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="input" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button type="submit">
        Let's go
    </button>

</form>
</section>

<script src="/script/floatingLabel.js"></script>

{% endblock %}
