.background{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background:var(--blackOverlay);
    z-index:-3;
}

.background::before,
.background::after{
    content:'';
    position:fixed;
    width:495px;
    height:495px;
    border-radius:100%;
}   

.background::before{
    background:var(--pink);
    top:30px;
    left:-90px;
}
.background::after{
    background:var(--blue);
    bottom:400px;
    right:-90px;
}