header{
    position:absolute;
    top:150px;
    left:0;
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    padding:0 75px;
    box-sizing:border-box;
    z-index:10;
}

header img{
    width:100px;
}

header img.lock{
    width:200px;
    animation-name:floating;
    animation-duration:3s;
    animation-delay: none;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes floating{
    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-30px);
    }

    100%{
        transform:translateY(0);
    }
}

header a:first-child{
    width:75px;
}

header a:first-child i{
    color:var(--white);
    font-size:60px;
}
header a:last-child i{
    color:var(--white);
    font-size:75px;
}

header a:last-child{
    position:relative;
}
header a:last-child::before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:30px;
    border-radius:100%;
    background:var(--pink);
    transform:translate(5px, 0px);
}

.dashboard header a:first-child{
    width:75px;
    opacity:0;
    cursor:arrow;
}