{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <main class="container">

    <a href="/admin">Admin Accueil</a>
    <br>
    <a href="/lock/1">Lock</a>
    <br>
    <hr>

    {% if lockMain is empty %}
         <p>Rien n'a été trouvé</p>
    {% else %}

        {% for lm in lockMain %}
            {% if lm.id == etape %}
                <h4>{{ lm.title }}</h4>
                <p>{{ lm.text }}</p>

                <hr>

                <ul>
                {% for lq in lockQuestion %}
                    {% if lq.MainId.id == etape %}
                        <li><a href={{ lq.link }}>{{ lq.question }}</li></a>
                    {% endif %}
                {% endfor %}
                </ul>

            {% endif %}
        {% endfor %}

    {% endif %}

    </main>

{% endblock %}